footer {
    background: $teal;
    height: 5vh;
    text-align: center;
    font-family: $primary-font;
    clear: both;
    padding: 1px;
    

    p {
        //padding-top: 30px;
    }

    p, a {
        font-size: 1.4rem;
        color: $black;
        
    }

    a {
        text-decoration: none;
    }
}