form {
    width: 100%;
    margin: 15px auto;
    font-family: $primary-font;

    input[type=text] {
        width: 50%;
        height: 30px;
        font-size: 1.2rem;
    }

    select {
        text-align: center;
        height: 30px;
        text-align: center;
        font-size: 1.2rem;
        width: 15%;
        margin-left: 10%;
        border: 0 !important;  
        -webkit-appearance: none;  
        -moz-appearance: none; 
        text-indent: 0.01px;
        text-overflow: "";
        background: url(../../public/assets/downChevron.svg) white no-repeat 100% 0%; 
        padding: 8px 10px;
        border-radius: none;
    }

    button {
        height: 30px;
        margin-left: 10%;
        width: 15%;
        font-size: 1.2rem;
        background: transparent;
        border: 1px solid $teal;
    }
}
