header {
    position: relative;
    overflow: hidden;
    background: url(../assets/banner.jpg) center;

    .hero {
        background: url(../assets/comic-bubble-text.png) no-repeat center;
        background-size: 70%;
        height: 85vh;
        z-index: 10;
        img{
            width: 100%;
        }
    }
    .cloud1{
            position: absolute;
            height: 500px;
            top:  135px;
            animation: cloudOne 45s linear;
            animation-delay: 0.3s;
            animation-duration: 45s;
            animation-fill-mode: forwards;
            opacity: 0;
    }
    @keyframes cloudOne{
        0% {transform: translateX(-100%); opacity:1}
        100% {transform: translateX(100%); opacity:0}
    }

    .cloud2{
            position: absolute;
            height: 500px;
            top:  120px;
            animation: cloudTwo 30s linear;
            animation-delay: 0.5s;
            animation-duration: 30s;
            animation-fill-mode: forwards;
            opacity: 0;
    }
    @keyframes cloudTwo{
        0% {transform: translateX(-100%); opacity:1}
        100% {transform: translateX(100%); opacity:0}
    }

    .cloud3{
            position: absolute;
            height: 500px;
            top:  405px;
            animation: cloudThree 15s linear;
            animation-delay: 2s;
            animation-duration: 30s;
            animation-fill-mode: forwards;
            opacity: 0;
    }
    @keyframes cloudThree{
        0% {transform: translateX(-100%); opacity:1}
        100% {transform: translateX(100%); opacity:0}
    }
}
