.infoPageContainer{
    max-width: 1080px;
    margin: 0 auto;
    font-family: $primary-font;

    .loading{
        font-size: 4rem;
    }

    .infoImgContainer{
        overflow: hidden;
        margin-right: 10px;
        width: calc(50% - 10px);
        float: left;
        height: 600px;

        img {
            object-fit: contain;
            width: 100%;
            border: 3px solid $black;
        }

    }
    .infoTextsContainer{
        font-size: 3rem;
        width: 50%;
        height: 600px;
        float: left;
        position: relative;
        font-family: $secondary-font;

        .infoText{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;

            h2:nth-of-type(2){
                font-family: $primary-font;
            }
            
            a{
                text-decoration: none;
                font-family: $primary-font;

                &:hover{
                    color: $green;
                }
            }
        }
    }

    .infoVolumeContainer{

        h3{
            font-size: 4rem;
            font-family: $secondary-font;
            color: $blue;
        }
    }

    .moreOfIssues{
        
        .issuesVolume{

            .issueTitle{
                font-size: 3.5rem;
                text-align: center;
                font-family: $secondary-font;

                
            }

            p, a {
                font-size: 2.5rem;
                text-align: center;
                text-decoration: none;
                color: $black;
            }

            a:hover {
                color: $green;
            }
      
        }

    }
}