@media (max-width: 1044px){
    .resultList {
    li {
        width: calc((100% - 30px) / 2);
        min-height: 600px;
        .imageContainer{
                max-height: 550px;
            }
        .banner {
            top: 2%;
            right: -14%;
        }
    }
    
    li:nth-child(2n) {
        margin-right: 0;
        }
    }
}

@media (max-width: 830px){
    .resultList {
    li {
        min-height: 450px;
        .imageContainer{
                max-height: 400px;
            }
        .banner {
            right: -18%;
            }
        }
    }
}

@media (max-width: 790px){
    .resultList {
    li {
        min-height: 450px;
        .imageContainer{
                max-height: 400px;
            }
        }
    }
}

@media (max-width: 740px){
    .resultList {
    li {
        .banner {
            right: -23%;
            }
        }
    }
}

@media (max-width: 630px){
    .resultList {
    li {
        min-height: 350px;
        .imageContainer{
                max-height: 300px;
            }
        .banner {
            right: -34%;
            }
        }
    }
    .infoPageContainer{
      .infoImgContainer{
          margin: 0 auto;
          width: 100%;
          height: auto;
      }
      .infoTextsContainer{
          width: 100%;
          margin: 0 auto;
          height: auto;
          .infoText{
              margin: 2rem auto;
              position: relative;
              font-size: 2rem;
              transform: translate(0);
              left: 0;
              border: 3px solid $black;
              padding: 1rem;
            }
      }
      .infoVolumeContainer{

        h3{
            font-size: 3rem;
            font-family: $secondary-font;
      }
    }
  }
}

@media (max-width: 490px){
    .hero {
        height: 75vh;
    }

    form {
        height: 20vh; 

        input[type=text] {
            width: 100%;
        }

        select, button {
            width: 40%;
            margin: 30px 5%;
        }
    }

    .resultList {
    li {
        width: 90%;
        margin: 20px 5% 0; 
        min-height: 550px;
        .imageContainer{
                max-height: 500px;
            }
        .banner {
            right: -18%;
            }
        }
    li:nth-child(1n) {
        margin-right: 0;
        }
    }
}

@media (max-width: 420px){
    header {
        height: 65vh;
    }

    form {
        height: 23vh; 

        input[type=text] {
            width: 100%;
        }

        select, button {
            width: 40%;
            margin: 30px 5%;
        }
    }

    .resultList {
    li {
        min-height: 375px;
        .imageContainer{
                max-height: 325px;
            }
        .banner {
            right: -31%;
            }
        }
    
    }

    .accountPage {
        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    footer {
        height: 12vh;
        
        p, a {
            font-size: 1.2rem;
            margin: 0;
        }

    }
}    